body {
    margin: 0;
    padding: 0 120px 0;
}

.jspsych-survey-likert {
    margin: auto;
    display: flex;
}

.jspsych-survey-likert, .jspsych-btn {
    background-color: rgb(22, 65, 118);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s;
}

.jspsych-btn:hover {
    transition: background-color 0.3s;
    background-color: rgba(22, 65, 118, 0.95);
    color: white;
}

@media (max-width: 900px) {
    body {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 600px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}